.projectSection {
  width: 80%;
  text-align: left;
}

.projectSection h2 {
  font-size: 1.9rem;
  font-weight: 500;
}

.projectSection .textBlock,
.projectSection .titleBlock,
.projectSection .imgBlock {
  padding: 1rem;
}

.projectSection img {
  outline: 1px solid #ffffff;
  border-radius: 10px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .projectSection {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    gap: 1rem 4rem;
  }

  .projectSection .titleBlock,
  .projectSection .textBlock {
    grid-column: 1 / -1;
    text-align: center;
  }

  #leftProject {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
  }

  #rightProject {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
  }
}
