header {
  width: 100%;
}

nav ul {
  background-color: #191c22;
  border: 1px solid #e94444;
  border-left: none;
  position: fixed;
  left: -500px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  transition: 0.2s ease-in-out;
  padding-right: 40px;
}

nav ul li,
#logoMenu,
#burgerIcon {
  cursor: pointer;
}

.burgerVisible {
  left: 0px;
}

nav p {
  align-items: center;
  margin: 1rem 1rem;
  gap: 1rem;
}

#burgerIcon {
  user-select: none;
}

nav ul,
nav p {
  margin-bottom: 1rem;
  display: flex;
  list-style: none;
  font-size: 1.9rem;
}

@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    position: fixed;
    background-color: #191c22bd;
  }

  nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
  }

  nav ul {
    background-color: initial;
    border: none;
    flex-direction: row;
    position: static;
    padding-right: 1px;
  }

  nav ul,
  nav p {
    gap: 5rem;
  }
  nav p {
    display: block;
    margin: 0;
  }

  #burgerIcon {
    display: none;
  }

  #navDecoration {
    width: 100%;
    height: 3px;
    background: linear-gradient(
      270deg,
      rgba(233, 68, 68, 0) 12.24%,
      #e94444 49.95%,
      rgba(233, 68, 68, 0) 90.93%
    );
  }
}
