footer {
  margin-top: 3.5rem;
}

#footDecoration {
  width: 100%;
  height: 3px;
  background: linear-gradient(
    270deg,
    rgba(233, 68, 68, 0) 12.24%,
    #e94444 49.95%,
    rgba(233, 68, 68, 0) 90.93%
  );
}

#footDecoration,
footer p,
footer img {
  margin-top: 1rem;
}

footer img {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  footer {
    margin-top: 5rem;
  }
}
