* {
  margin: 0;
}

@font-face {
  font-family: "Federo";
  src: url(./Assets/Federo-Regular.ttf);
}

body {
  font-family: "Federo", sans-serif;
  background-color: #191c22;
  color: white;
  font-size: 1.2rem;
}

.App {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 85%;
}

#welcome {
  margin-top: 6.375rem;
  /* display: none; */
}

section {
  margin-top: 5rem;
}

.redThread {
  position: absolute;
  top: 10rem;
  left: -9.8%;
  height: 335%;
  text-align: center;
  overflow: hidden;
  z-index: -1;
}

.desktopSVG {
  display: none;
}

.backgroundSVG {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  main {
    width: 100%;
  }

  #welcome {
    margin-top: 18.5rem;
    display: block;
  }

  section {
    margin-top: 16rem;
  }

  .redThread {
    position: absolute;
    top: -7rem;
    left: 0;
    height: 500%;
    text-align: center;
    overflow: hidden;
    z-index: -1;
  }

  .backgroundSVG {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .desktopSVG {
    display: inline-block;
  }

  .mobileSVG {
    display: none;
  }
}

/* */
/* */
/* */
/* Logo React */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 80s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
