/*  */

.aboutMe {
  margin-top: 6.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.aboutMe img {
  outline: 1px solid #ffffff;
  border-radius: 10px;
  width: 60%;
}

@media screen and (min-width: 1024px) {
  .aboutMe {
    margin-top: 12.5rem;
    width: 50%;
  }

  .textBlock {
    text-align: center;
  }

  .aboutMe img {
    width: 50%;
  }
}
